<div class="card-container">
  
  <div>
    <h4>Local State</h4>
 <alert type="info" >Error  {{errorMessage  }}</alert>
 <input *ngIf="config.filtering" placeholder="Filter"
       [ngTableFiltering]="config.filtering"
       (tableChanged)="onChangeTable(config)"/>
 <ng-table [config]="config.sorting"
           (tableChanged)="onChangeTable(config)"
           [rows]="rows" [columns]="columns">
</ng-table>
<pagination *ngIf="config.paging"
            class="pagination-sm"
            [(ngModel)]="page"
            [totalItems]="length"
            [itemsPerPage]="itemsPerPage"
            [maxSize]="maxSize"
            [boundaryLinks]="true"
            [rotate]="false"
            (pageChanged)="onChangeTable(config, $event)"
            (numPages)="numPages = $event">
</pagination>
<pre *ngIf="config.paging" class="card card-block card-header">Page:  / </pre>
 
  
    <form (ngSubmit)="submitState(localState.value)" autocomplete="off">

      <input
        [value]="localState.value"
        (input)="localState.value = $event.target.value"
        placeholder="Submit Local State to App State"
        autofocus>

      <button md-raised-button color="primary">Submit Value</button>
    </form>
    <!--
        <input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>
        Rather than wiring up two-way data-binding ourselves with [value] and (input)
        we can use Angular's [(ngModel)] syntax
        <input type="text" [(ngModel)]="localState.value" autofocus>
      -->

    <pre>this.localState = {{ localState | json }}</pre>
    <pre>this.repositories = {{ repositories | json }}</pre>
  </div>

</div>
